.glass{
    display: grid;
    grid-template-columns: 1fr;
    height: 20rem;
    background: linear-gradient(135deg, rgba(97, 95, 95, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 0.5rem;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    color: white;
    justify-self: center;
    align-self: center;

    label {
        margin-right: 0.5rem;
    }

    input {
        padding-left: 0.5rem;
        height: 2rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 2px;
        color: white;
    }

    button {
        height: 3rem;
        color: white;
        background: repeating-linear-gradient(
        315deg,
        #ffc107,
        #ffc107 10px,
        black 10px,
        black 20px
      );
        border-style: none;
        border: 1px solid white;
        font-weight: bold;
        font-family: 'Goldman', cursive;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 1.25rem;
        cursor: pointer;

        &:hover {
            background: black;
            color: #ffc107;
            border-color: #ffc107;
        }
    }

    .error {
        color: red;
    }

}