.glass{
    height: 40rem;
    width: 40rem;
    margin: 4rem auto;
    background: linear-gradient(135deg, rgba(97, 95, 95, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}