@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.header {
    height: 6rem;
    color: white;
    display: grid;
    width: 100%;

    h1 {
        font-size: 5rem;
        justify-self: center;
        color: #ffc107;
        font-family: 'Goldman', cursive;
    }
}

